.footerContainer div ul li a {
	color: black !important;
}
.footerBrand{
	width:200px ;
	height:75px;
}
.footerContainer div ul li a:hover {
	opacity: 0.7 !important;
}
.footerContainer div h4{
	color: black !important;
}
@media screen and (max-width:567px)
{
	.footerNavBarRow {
			border-bottom: 1px solid gray;
	}
}
 
.footerIcon{
	color: black !important; font-size: 38px !important; font-weight: 500 !important; 
}
.createdRow{
	border-top:1px solid white; background-color:#282828;
}